button:hover>#arrow {
    transform: translateX(3px);
    transition: all 0.4s ease-in;
}

.description span {
    color: #3C66D4;
    font-weight: bold;
}

@media (max-width:460px) {
    .description {
        font-size: 15px;
    }

    .title {
        font-size: 25px;
    }

    button p {
        font-size: 13px;
    }

    .icon-arrow {
        font-size: 17px;
    }
}

@media (max-width:350px) {
    .title {
        font-size: 25px;
    }

    .title span {
        font-size: 40px;
    }
}