@media screen and (max-width: 570px) {
    .navbar-nav-link p {
        font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    .navbar-nav-link {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 63px;
        right: 0;
        height: 220px;
        width: 150px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 5px;
        background-color: #fff;
        z-index: 1000;
        border-top: 3px solid #3C66D4;
    }

    .navbar-nav-link.show {
        display: flex;
    }

    .navbar-nav-link>div {
        width: 100%;
        text-align: center;
    }


    .navbar-nav-link p {
        color: #333;
        font-size: 14px;
    }

    .hidden {
        display: block;
        cursor: pointer;
    }

    #close {
        display: none;
        cursor: pointer;
    }

    #hamburger-menu {
        cursor: pointer;
    }

    .navbar.flex {
        justify-content: space-between;
    }

    .navbar-nav-link.show {
        display: flex;
        flex-direction: column;
    }

    .navbar-nav-link>div {
        text-align: left;
        padding: 0 15px;
    }

    .first {
        margin-top: 10px;
    }

    .dropdown-tools {
        margin-right: -1px;
        margin-right: 3px;
        margin-top: -1px;
        margin-top: 10px;
    }

    .dropdown-language {
        margin-right: -1px;
        margin-right: 3px;
        margin-top: -1px;
        margin-top: 10px;
    }

}